* {
  box-sizing: border-box;
}

header {
  background-color: #008CBA;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  vertical-align: middle;
}

header h1 {
  line-height: 1;
  margin-bottom: 10px;
  font-family: Verdana, "Geneva", sans-serif;
}

#search-bar {
  width: 500px;
}

body {
  padding-top: 50px;
}

.result {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

input {
  width: 300px;
  height: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
} 

button {
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 12px;
}

.thumbnail img {
  width: 100%;
}

.recipelabel, .recipesource {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
}

.label, .source {
  font-size: 12px;
  border: 1px solid #d9d9d9;
  background-color: #A80000;
  font-family: Verdana, "Geneva", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  padding: 5px;
}

.reclist {
  display: none;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

/*This is the footer section*/
footer {
  text-align: center;
  font-style: italic;
  font-family: Verdana, "Geneva", sans-serif;
  margin: 10%;
}

.footercontainer {
  max-width: 400px;
  max-height: 400px;
  background-color: #DEDEDE;
  border: 1px solid gray;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
}

.footerpic {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.social-links ul, li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.social-links a{
  text-decoration: none;
  text-align: center;
  font-size:calc(12px + 2.5vw);
  width: 33.3%;
  color: #335566;
}                
 .social-links a:visited { text-decoration: none; }
 .social-links a:hover { text-decoration: underline; }
  .social-links a:focus { text-decoration: none; }
  .social-links a:hover, a:active { text-decoration: underline; }

.social-images {
  width: 21px;
  height: 19px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
  font-style: italic;
}


