* {
  box-sizing: border-box;
}

body {
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: #008CBA;
  margin-bottom: 40px;
  padding-bottom: 20px;
  /*padding-top: 20px;*/
  text-align: center;
  /*border:1px solid black;*/
  color: white; 
  vertical-align: middle;
  /*height: 75px;*/
}

header h1 {
  line-height: 1;
  /*margin-bottom: 10px;*/
  font-family: Verdana, "Geneva", sans-serif;
  font-weight: bold;
  /*float: left;*/
  /*vertical-align: middle;*/
}

header h2 {
  /*margin-top: 5px;*/
  font-family: Verdana, "Geneva", sans-serif;
  font-weight: normal;
  /*float: right;*/
  line-height: 1.5;
  /*vertical-align: middle;*/
}

header #search-title {
  float:left;
}

header #search-bar {
  width: 500px;
  float: right;
}

button {
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
}

input .js-query {
  width: 300px;
  height: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
} 

.card {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  position: relative;
  height:200px;
  overflow: hidden;
  vertical-align: center;
}

.foodimg {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.card:hover .overlay {
  opacity: 1;
}

.overlaytext a {
  color: white;
  font-size: 20px;
  font-family: Verdana, "Geneva", sans-serif; 
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*This is the footer section*/
footer {
  text-align: center;
  font-style: italic;
  font-family: Verdana, "Geneva", sans-serif;
  background-color: #DEDEDE;
  border-top: 1px solid gray;
  vertical-align: middle;
  /*margin: 10%;*/
}

/*.footercontainer {
  /*max-width: 400px;*/
  width: 100%;
  max-height: 75px;
  
  
  
  /*border-radius: 25px;*/
  /*margin: auto;*/
  /*padding: 10px;*/
 
  /*display: inline-block;
}*/


.footertext {
  /*float: left;*/
  vertical-align: middle;
  padding: 20px;
}

.footericons {
  /*float: right;*/
  vertical-align: middle;
  padding: 20px;
}

.footerpic {
  /*width: 35px;
  height: 35px;*/
  border-radius: 35px;
}

.social-links ul, li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/*.social-images {
  width: 21px;
  height: 19px;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
  font-style: italic;
}


