* {
  box-sizing: border-box;
}

body {
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

header {
  background-color: #008CBA;
  background-image: url(pics/brick-wall-dark.png);
  text-align: center;
  color: white; 
  vertical-align: middle;
}

header h1 {
  line-height: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.js-search-form {
  margin-top: 35px;
  margin-bottom: 5px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background-color: #DEDEDE;
  background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
}

input {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
} 

main {
  background-image: url(pics/pizzabackground.png);
  background-repeat: repeat-y;
  padding-top: 20px;
}

#search-main {
  min-height: 250px;
}

.landingtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:#999999;
  text-align: center;
}

.landingtext a {
  text-decoration: none;
  color:#999999;
  height: 100%;
}
.landingtext a:visited { text-decoration: none; }
.landingtext a:hover { text-decoration: none; }
.landingtext a:focus { text-decoration: none; }
.landingtext a:hover, a:active { text-decoration: none; }

.linktoapppage {
  /*color: black;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid #999999;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.linktoapppage p {
  margin: 0px;
}

.linktoapppage a {
  text-decoration: none;
  color:#999999;
  height: 100%;
}
.linktoapppage a:visited { text-decoration: none; }
.linktoapppage a:hover { text-decoration: none; }
.linktoapppage a:focus { text-decoration: none; }
.linktoapppage a:hover, a:active { text-decoration: none; }


.result {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
}

.recipelabel, .recipesource {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
}

.label, .source {
  font-size: 12px;
  border: 1px solid #d9d9d9;
  background-color: #A80000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  padding: 5px;
}

.reclist {
  display: none;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-left: 50px;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

.reclist li {
  list-style-type: circle;
}

.card {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  position: relative;
  height:200px;
  overflow: hidden;
  vertical-align: center;
}

.foodimg {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.50);
}

.card:hover .overlay {
  opacity: 1;
}

.overlaytext p {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlaytext a {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*This is the footer section*/
footer {
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  background-color: #DEDEDE;
  background-image: url(pics/asfalt-dark.png);
  background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
  vertical-align: middle;
  height: auto;
}

.footertext {
  vertical-align: middle;
  padding-top: 30px;
}

.footertext a {
  text-decoration: none;
  color: black;
}
.footertext a:visited { text-decoration: none; }
.footertext a:hover { text-decoration: none; }
.footertext a:focus { text-decoration: none; }
.footertext a:hover, a:active { text-decoration: none; }

.footericons {
  vertical-align: middle;
}

.footerpic {
  border-radius: 35px;
}

.social-links li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
  font-style: italic;
}


